
<div class="message_<%= chat.id %>">
  <%= attachment_image_tag chat.user, :profile_image, format: 'png', fallback: "noimage", size: "40x40" %>
  <%= chat.user.name %>
 <%= simple_format(chat.message) %>
 <!--<<%# if chat.user == current_user %>-->
 <!--  <button id="<%#= chat.id %>" class="delete-btn btn btn-danger">削除</button>-- 現状デリートチャネルを削除したので、削除コマンドを一時的にコメントアウト>
 <!--<%# end %>-->
</div>
  
  