<div class="container">
    <!--<div class="row">-->
 <div id="messages", data-room_id="<%= @room.id %>"></div>
 <div class="chat_box">
 <div id="chats">
   <%= render @chats %>
 </div>
 </div>
<!--</div>-->
<div class="row">
  <div class="col-8">
     <div id="outer_box">
         <div class="form-group">
        <%= text_area :message, "hoge", 'data-behavior': 'chat_speaker', class: 'from-control', style: 'margin-bottom: 20px; width: 100%;' %>
        </div>
     </div>
  </div>
 </div>
    <div class="row">
        <div class="col-8">
          <%= button_tag '送信', class: 'chat_submit btn btn-info btn-block' %>
        </div>
    </div>
</div>
