 <div class="home_faq-wrapper">
    <div class="container">
      <div class="heading">
        <h1 class="pt-5">ジムトモについて</h1>
      </div>
      <div class="faq">
        <ul id="home_faq-list">
          <li class="home_faq-list-item">
            <h2 class="question">ジムトモとは何ですか？</h2>
            <span>+</span>
            <div class="answer">
              <h3>同じジムにかよう仲間とコミュケーションが取れるサイトです！</h3>
            </div>
          </li>
          <li class="home_faq-list-item">
            <h2 class="question">どうやってジムを探すの？</h2>
            <span>+</span>
            <div class="answer">
              <h3>ログイン後検索して頂くか、ジムが無ければ登録も出来ます！</h3>
            </div>
          </li>
          <li class="home_faq-list-item">
            <h2 class="question">使い方がよくわからない....</h2>
            <span>+</span>
            <div class="home_answer">
              <h3>シンプルなチャットアプリですので、ジムを探せたら是非チャットに参加しましょう！</h3>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </div>