 <div class="container">
  <div class="row">
    <h1 class="col-12 mt-5 text-center">こんにちは！</h1>
  </div>
  
     <div class="row">
       <h2 class="col-12 text-center">ジムトモはジムでのコミュケーションを目的とした</h2>
        <h2 class="col-12 text-center">シンプルなチャットアプリケーションです！</h2>
     </div>
       
         <div class="row">
          <div class="home_image col-5 mx-auto"></div>
         </div>
         
        <div class="row">
          <%= link_to "早速始める！", new_user_session_path, class:"col-3 mx-auto mt-3 btn btn-success" %>
        </div>
        
        <div class="row">
          <%= link_to "ジムトモとは？",  home_about_path, class:" col-3 mx-auto mt-3 mb-2 btn btn-info" %>
        </div>
 </div>