// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_image{
  height: 200px;
  width: 300px;
   background-size: contain;
  background-image: image-url("speak.png");
  background-position: center;
}
.home_faq-wrapper {
  background-color: #e6ecf0;
  text-align: center;
  padding-bottom: 80px;
  color: #5f5d60;
}

#home_faq-list {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}


.home_faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.home_faq-list-item h3 {
  font-size: 14px;
}

.home_faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:30px;
}

.home_answer {
  font-size: 12px;
  padding: 5px 0px;
  margin-bottom: 15px;
  display: none;
}

